@import url("normalize.css");

body {
	font-family: sans-serif;
	background-color: white;
	padding: auto;
}

footer {
	clear: both;
	color: white;
	width: auto;
	margin: auto;
	background-color: black;
}

main {
	float: left;
	width: 60%;
}

main section {
	padding: 1em;
}

nav {
    overflow: hidden;
    background-color: #333;
    font-family: sans-serif;
}

nav a {
    float: left;
    font-size: 100%;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

nav a:hover, .dropdown:hover .dropbtn {
    background-color: dodgerblue;
}



.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 100%;    
    border: none;
    outline: none;
    color: white;
    padding: 1em;
    background-color: inherit;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: white;
}

.drop-content a {
    float: none;
    color: #333;
    padding: 1em;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .drop-content {
    display: block;
}

.socialbar {
	clear: both;
	display: block;
}

.wrapper {
	background-color: whitesmoke;
	width: 75%;
	margin: auto;
}

#left {
	float: left;
	width: 20%;
	background-color: lightblue;
}

#left section {
	padding: 1em;
}

#right {
	float: right;
	width: 20%;
	background-color: darkslategrey;
	color: white;
}

#right section {
	padding: 1em;
}


#gototop a{
	text-decoration: none;
	color: white;
}

#gototop a:hover {
	background-color: dodgerblue;
}



#icon1 {
	float: left;
	width: 128px;
	height: 128px;
	background: url("../img/css_sprites.png") 0px 0px;
}

#icon2 {
	float: left;
	width: 128px;
	height: 128px;
	background: url("../img/css_sprites.png") 128px 0px;
}

#icon3 {
	float: left;
	width: 128px;
	height: 128px;
	background: url("../img/css_sprites.png") 256px 0px;
}

#icon4 {
	float: left;
	width: 128px;
	height: 128px;
	background: url("../img/css_sprites.png") 384px 0px;
}