body {
	font-family: sans-serif;
	background-color: white;
}

.wrapper {
	background-color: whitesmoke;
}

#left {
	float: left;
	width: 20%;
	background-color: lightblue;
}


nav {
    overflow: hidden;
    background-color: #333;
    font-family: sans-serif;
}

nav a {
    float: left;
    font-size: 100%;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

footer {
	clear: both;
	color: white;
	padding: 1em;
	background-color: #333;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 100%;    
    border: none;
    outline: none;
    color: white;
    padding: 1em;
    background-color: inherit;
}

nav a:hover, .dropdown:hover .dropbtn {
    background-color: dodgerblue;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 1em;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}